.container-404 {
    width: 100%;
    height: 100vh;
    background-color: #4e504a27;
    overflow: hidden;
    overflow-x: hidden;
}

 .face {
	width: 300px;
	height: 300px;
	border: 4px solid #383A41;
	border-radius: 10px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 100px;

}

.band {
    width: 350px;
    height: 27px;
    border: 4px solid #383A41;
    border-radius: 5px;
    margin-left: -25px;
    margin-top: 50px;
}

.yellow {
    height: calc(100% / 3);
    width: 100%;
    background-color: #f5ec00;
}

.red {
    height: calc(100% / 3);
    width: 100%;
    background-color: #ff0606;
}

.blue {
    height: calc(100% / 3);
    width: 100%;
    background-color: #5E7FDC;
}

.face::before {
    content: "";
    display: inline-block;
    height: 27px;
    width: 30px;
    background-color: rgba(#FFFFFF,0.3);
    position: absolute;	
    z-index: 999;
}

.face::after {
    content: "";
    display: inline-block;
    height: 27px;
    width: 30px;
    background-color: rgba(#383A41,0.3);
    position: absolute;	
    z-index: 999;
    right: 0;
    margin-top: -27px;
}



.eyes {
    width: 128px;
    margin: 0 auto;
    margin-top: 40px;
}


.eyes::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    border: 7px solid #383A41;
    margin-right: 20px; 
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom: 0;
}

.eyes::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    border: 7px solid #383A41;
    margin-left: 20px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom: 0;
}

.dimples {
    width: 180px;
    margin: 0 auto;
    margin-top: 15px;
}

.dimples::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 80px; 
    border-radius: 50%;
    background-color: rgba(#EB6D6D,0.4);
}

.dimples::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 80px;
    border-radius: 50%;
    background-color: rgba(#EB6D6D,0.4);
}
	
.mouth {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: #383A41;
    margin: 0 auto;
    margin-top: 25px;
}


.h1-404 {
	font-weight: 800;
	color: #383A41;
	text-align: center;
	font-size: 2.5em;
	padding-top: 20px;
}

.btn-404 {
	font-weight: 400;
	padding: 0px;
	width: 320px;
    height: 50px;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
}


.btn-404 button {
    width: 100%;
    height: 100%;
    border: 1px solid;
    outline: none;
    background: white;
    border-radius: 20px;
    font-size: 16px;
    transition: 0.3s;
}

.btn-404 button:hover {
    background-color: black;
    color: white;
    cursor: pointer; 
    transform: scale(1.05, 1.05);
}