.card-container {
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    margin: 10px 0px 10px 20px;
    padding: 0;
    height: 250px;
    display: inline;
}

.card-container:hover {
    transform: scale(1.05, 1.05);
    transition: 0.3s;
}

.card-img {
    background-color: lightgrey;
    width: auto;
    height: auto;
    max-height: 150px;
    max-width: 100%;
}

.card-tittle {
    font-size: large;
    padding-left: 10px;
}

.card-description {
    font-size: small;
    padding: 0px 10px;
}

.each-card {
    display: inline-block;
}