.modal {
    font-style: italic;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    color: white;
}

.body {
    background-color: black;
    width: 50%;
    height: 60vh;
    align-items: center;
    border-radius: 15px;
}

.close {
    top: 22%;
    right: 26%;
    position: fixed;
    cursor: pointer;
    padding: auto;
    background-color: black;
    padding-left: 5px;
}

.close:hover {
    transform: scale(1.1, 1.1);
    border: none;
    transition: 0.3s;
}